<div class="otp">
    <p-toast></p-toast>
    <h2>VERIFICATION</h2>
    <p class="enterOtp">Enter your OTP here</p>
      <div class="otpInput">
        <input type="text" maxlength="1" #otpInput1 required autocomplete="off">
        <input type="text" maxlength="1" #otpInput2 required autocomplete="off">
        <input type="text" maxlength="1" #otpInput3 required autocomplete="off">
        <input type="text" maxlength="1" #otpInput4 required autocomplete="off">
      </div>
      

       <input type="submit" value="Verify OTP" (click)="verifyOtp()">

       
      <p>Didn’t you received any code?</p>
      <a class="resendCode" href="#">Resend a new Code</a>

  </div>