<div class="otp">
    <h2>Set Password</h2>
    <form  [formGroup]="form" (ngSubmit)="submitForm()">
        <p-toast></p-toast>
      <input placeholder="choose new password" type="password"  formControlName="password">
      <div *ngIf="submitted && form?.get('password')?.errors">
        <p *ngIf="form?.get('password')?.errors?.['required']">
          password  is required.
        </p>
        
      </div>
      <input placeholder="confirm password" type="password"  formControlName="confirmPassword">
      <div *ngIf="submitted && form.controls['confirmPassword'].errors">
        <p *ngIf="form.controls['confirmPassword'].errors?.['required']">
          Confirm Password is required.
        </p>
        <p *ngIf="form.controls['confirmPassword'].errors?.['passwordMismatch']">
          Passwords do not match.
        </p>
      </div>
      <input type="submit" value="Submit">
    </form>
    
</div>