<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
  <!--[if lte IE 8]>
      <script type="text/javascript" src="javascript/html5.js"></script>
    <![endif]-->
  <title>Dashboard</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/styles.css" media="screen">
</head>

<body>
 <header>
  <div class="container headerSection">
    <a href="#" class="logo">
      <img src="/assets/images/CREZAPP-icon.svg" /><img src="/assets/images/CREZAPP.svg" />
    </a>
    <div class="nav">
      <a class="active" href="#">Home</a>
      <a href="#">About Us</a>
      <a href="#">Blog</a>
      <a href="#">News</a>
      <a href="#">Contact Us</a>
      <a href="#">
        <img src="/assets/images/sign-in.svg" />
      </a>
      <a href="#">
        <img src="/assets/images/people-icon.svg" />
      </a>
    </div>
  </div>
    
 </header>
 <section class="home">
    <div class="bgContainer">
    </div>
    <div class="container crezappBanner">
      <div class="crezappBannerLeft">
        <h1>Earn <span>50,000/Month</span><br>
          By Recommending Our 
          Product To Your Customer
          </h1>
          <h2>Credit Card</h2>
          <ul>
            <li>
              200+ Services available for sell
              <span>Including hospital, malls, credit card, demat account, saving account, loans.</span>
            </li>
            <li>
              Highest Commission, Recommend Only On 
WhatsApp, SMS or Email.
            </li>
            <li>
              10% Extra Income Through Team Network Lifetime.
            </li>
          </ul>
          <a class="downloadApp" href="#">DOWNLOAD THE APP <img src="/assets/images/cloud-download-icon.svg" /></a>
          <div class="appBtnSection">
              <div class="appBtn">
                  <a href="#">
                    <img width="150" src="/assets/images/play-store.png" />
                  </a>
                  <a href="#">
                    <img width="150" src="/assets/images/apple-store.png" />
                  </a>
              </div>
              <div class="starRating">
                    <img src="/assets/images/star-icon.svg">
                    <img src="/assets/images/star-icon.svg">
                    <img src="/assets/images/star-icon.svg">
                    <img src="/assets/images/star-icon.svg">
                    <img src="/assets/images/star-icon.svg">
                    <span>4.9</span>
              </div>
          </div>
      </div>
      <div class="crezappBannerRight">
        <img src="/assets/images/home-banner-hero.svg" />
      </div>
    </div>
 </section>
 <section>
  <div class="container">
    Blank
  </div>

 </section>
 <section>
  <div class="container extraIncome">
    <div class="mainHeading">
      <h1>Unlock extra income for all your needs</h1>
    </div>
    <div class="extraIncomeSection">
      <div class="extraIncomeBullets">
        <div class="bulletsSection">
          <div class="exIncircleIcons">
            <img width="80" src="/assets/images/solar_hand-money-linear.svg" />
          </div>
          <div class="exInContent" style="position: relative;">
            <h2>Earn more than ₹1 Lakh every month</h2>
            <p>Sell financial products with CrezApp and make extra income every month</p>
            <div class="blueVerticalLine"></div>
          </div>
        </div>
        <div class="bulletsSection">
          <div class="exIncircleIcons">
            <img width="80" src="/assets/images/material-symbols_home-work-outline-rounded.svg" />
          </div>
          <div class="exInContent" style="position: relative;">
            <h2>Work from Anywhere</h2>
            <p>Work from home in your pajamas or work from your resort in the mountains - we're flexible</p>
            <div class="blueVerticalLine"></div>
          </div>
        </div>
        <div class="bulletsSection">
          <div class="exIncircleIcons">
            <img width="80" src="/assets/images/healthicons_money-bag-outline.svg" />
          </div>
          <div class="exInContent" style="position: relative;">
            <h2>Zero Investment Business</h2>
            <p>Find customers and start your own business at ₹0 investment like you always wanted</p>
            <div class="blueVerticalLine"></div>
          </div>
        </div>
        <div class="bulletsSection">
          <div class="exIncircleIcons">
            <img width="80" src="/assets/images/streamline_interface-security-shield-3-shield-pay-product-secure-money-cash-currency-security-business.svg" />
          </div>
          <div class="exInContent" style="position: relative;">
            <h2>Instant Payout</h2>
            <p>No more waiting for weeks to get your sales earning! Get your earning the moment your sale is success</p>
            <div class="blueVerticalLine"></div>
          </div>
        </div>
        <div class="bulletsSection">
          <div class="exIncircleIcons">
            <img width="80" src="/assets/images/material-symbols_model-training-outline-rounded.svg" />
          </div>
          <div class="exInContent" style="position: relative;">
            <h2>Attend Trainings</h2>
            <p>Get trained by our experts and enroll for online courses to learn how to sell better</p>
            <div class="blueVerticalLine"></div>
          </div>
        </div>
      </div>
      <div class="workFromAny">
        <img width="350" src="/assets/images/Work from anywhere222 1.png" />
      </div>
    </div>
  </div>
 </section>
 <section class="">
  <div class="container">
    <div class="mainHeading">
      <h1>Products Offered to Your Customers</h1>
    </div>
    <div class="productOffer">
        <div class="productOfferBox">
          <div class="proIcon">
            <div class="productOfferIcons">
              <img src="/assets/images/heroicons_credit-card.svg" />
            </div>
            <div class="lightBg"></div>
          </div>
            
           <h2>CREDIT CARD</h2>
           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
           <a href="#" class="" >
            <img src="/assets/images/east.svg" />
           </a>
        </div>
        <div class="productOfferBox">
          <div class="proIcon">
            <div class="productOfferIcons">
              <img src="/assets/images/ri_bank-fill.svg" />
            </div>
            <div class="lightBg"></div>
          </div>
          <h2>SAVING ACCOUNT</h2>
           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
           <a href="#" class="" >
            <img src="/assets/images/east.svg" />
           </a>
        </div>
        <div class="productOfferBox">
          <div class="proIcon">
            <div class="productOfferIcons">
              <img src="/assets/images/fluent-emoji-high-contrast_money-bag.svg" />
            </div>
            <div class="lightBg"></div>
          </div>
          <h2>LOANS</h2>
           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
           <a href="#" class="" >
            <img src="/assets/images/east.svg" />
           </a>
        </div>
        <div class="productOfferBox">
          <div class="proIcon">
            <div class="productOfferIcons">
              <img src="/assets/images/circum_hospital-1.svg" />
            </div>
            <div class="lightBg"></div>
          </div>
          <h2>Hospital Lead</h2>
           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
           <a href="#" class="" >
            <img src="/assets/images/east.svg" />
           </a>
        </div>
        <div class="productOfferBox">
          <div class="proIcon">
            <div class="productOfferIcons">
              <img src="/assets/images/material-symbols_other-admission-outline-rounded.svg" />
            </div>
            <div class="lightBg"></div>
          </div>
          <h2>College Admission</h2>
           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
           <a href="#" class="" >
            <img src="/assets/images/east.svg" />
           </a>
        </div>
        <div class="productOfferBox">
          <div class="proIcon">
            <div class="productOfferIcons">
              <img src="/assets/images/tabler_shopping-cart-discount.svg" />
            </div>
            <div class="lightBg"></div>
          </div>
          <h2>Shopping Mall Discount</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          <a href="#" class="" >
            <img src="/assets/images/east.svg" />
           </a>
        </div>
        
    </div>
  </div>
 </section>
 <section>
  <div class="mainHeading">
    <h1>Products Offered to Your Customers</h1>
  </div>
    <div class="container benefit">
      <div class="benefitContainer">
          <div class="benefitContainerImg">
            <img src="/assets/images/zero-investment.png" />
            <div class="benefitContainerImgLogo">
              <img width="52" src="/assets/images/arcticons_moneybuster.svg" />
            </div>
          </div>
          <h2>Zero Investment</h2>
          <p>Invest nothing, start your own business on your finger tips.</p>
          <div class="hrline"></div>
          <a href="#">View Details</a>
      </div>
      <div class="benefitContainer">
        <div class="benefitContainerImg">
          <img src="/assets/images/timely-payout.png" />
          <div class="benefitContainerImgLogo">
            <img width="52" src="/assets/images/streamline_interface-security-shield-3-shield-pay-product-secure-money-cash-currency-security-business-white-01.svg" />
          </div>
        </div>
        <h2>Timely Payout</h2>
        <p>Get your payout credited in your account under minimum time.</p>
        <div class="hrline"></div>
        <a href="#">View Details</a>
    </div>
    <div class="benefitContainer">
      <div class="benefitContainerImg">
        <img src="/assets/images/earn-unlimited-money.png" />
        <div class="benefitContainerImgLogo">
          <img width="52" src="/assets/images/solar_money-bag-linear.svg" />
        </div>
      </div>
      <h2>Earn Unlimited Money</h2>
      <p>Earn an attractive amount of money on each financial product you sell.</p>
      <div class="hrline"></div>
      <a href="#">View Details</a>
  </div>
  <div class="benefitContainer">
    <div class="benefitContainerImg">
      <img src="/assets/images/earnings-for-lifetime.png" />
      <div class="benefitContainerImgLogo">
        <img width="52" src="/assets/images/solar_hand-money-linear-white.svg" />
      </div>
    </div>
    <h2>Earnings for lifetime</h2>
    <p>There’s no retirement. Create customers once and earn on their transactions for a long run.</p>
    <div class="hrline"></div>
    <a href="#">View Details</a>
</div>
<div class="benefitContainer">
  <div class="benefitContainerImg">
    <img src="/assets/images/wide-range-of-products.png" />
    <div class="benefitContainerImgLogo">
      <img width="52" src="/assets/images/simple-icons_webmoney.svg" />
    </div>
  </div>
  <h2>Wide Range of Products</h2>
  <p>Invest nothing, start your own business on your finger tips.</p>
  <div class="hrline"></div>
  <a href="#">View Details</a>
</div>
<div class="benefitContainer">
  <div class="benefitContainerImg">
    <img src="/assets/images/training-and-guidance.png" />
    <div class="benefitContainerImgLogo">
      <img width="52" src="/assets/images/mdi_teach-poll.svg" />
    </div>
  </div>
  <h2>Training and Guidance</h2>
  <p>Our dedicated training and sales team will provide assistance at every step to achieve your goals.</p>
  <div class="hrline"></div>
  <a href="#">View Details</a>
</div>
    </div>
 </section>
 <footer>
  <div class="container footerSection">
    <div class="footerContentOne">
      <div class="qoraLogo">
        <img src="/assets/images/qora.svg" />
      </div>
      <p>Start Your Business with Zero Investment and Earn over ₹1,00,000 Every Month. Provide financial advice and products to the customers and get a fast payout every month.</p>
      <div class="socialMedia">
        <a href="#"><img src="/assets/images/fa-brands_facebook-square.svg" /></a>
        <a href="#"><img src="/assets/images/akar-icons_instagram-fill.svg" /></a>
        <a href="#"><img src="/assets/images/bi_linkedin.svg" /></a>
        <a href="#"><img src="/assets/images/jam_twitter-square.svg" /></a>
      </div>
        
      
    </div>
    <div class="footerContentTow">
      <h3>Who we are</h3>
        <a href="#">About Us</a>
        <a href="#">Contact Us</a>
        <a href="#">Vision</a>
        <a href="#">Mission</a>
        <a href="#">Careers</a>
    </div>
    <div class="footerContentThree">
      <h3>Imported Links</h3>
        <a href="#">News</a>
        <a href="#">Who can be an Adviser</a>
        <a href="#">Who can be a Vendor</a>
        <a href="#">Blog</a>
        <a href="#">Level</a>
    </div>
    <div class="footerContentFour">
      <h3>Contact Us</h3>
      <div>
        <a href="#"><img src="/assets/images/material-symbols_phone-in-talk-sharp.svg" /> +91 7412 933 XXX</a>
        <a href="#"><img src="/assets/images/material-symbols_mail.svg" /> support@crezapp.com</a>
        <a href="#"><img src="/assets/images/ic_baseline-location-on.svg" /> Uttar Pradesh, India</a>
      </div>
      <div class="footerInput">
        <input type="text" placeholder="Enter Your E-mail" >
        <button>
          <img width="16" src="/assets/images/wpf_sent.svg" />
        </button>
      </div>
    </div>
  </div>
  <div class="container footerCopyRight">
     <ul>
        <li>
          <a href="#">Terms & Condition</a>
        </li>
        <li>
          <a href="#">Privacy Policy</a>
        </li>
        <li>
          <a href="#">Refund & Cancellation Policy</a>
        </li>
        <li>
          <a href="#">Fraud & Violation Policy</a>
        </li>
     </ul>
     <div class="copyRighttext">
      © 2023 CrezApp. All rights reserved
     </div>
  </div>
 </footer>
</body>
</html>