<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <!--[if lte IE 8]>
      <script type="text/javascript" src="javascript/html5.js"></script>
    <![endif]-->
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/assets/css/owl.carousel.min.css" media="screen">
</head>


<body>
    <header>
        <div class="container headerSection">
            <a href="#" class="logo">
                <img src="/assets/images/CREZAPP-icon.svg" /><img src="/assets/images/CREZAPP-white.svg" />
            </a>
            <div class="nav">
                <a class="active" href="#">Home</a>
                <a href="#">About Us</a>
                <a href="#">Blog</a>
                <a href="#">News</a>
                <a href="#">Contact Us</a>
                <a href="#">
                    <img src="/assets/images/sign-in.svg" />
                </a>
                <a href="#">
                    <img src="/assets/images/people-icon.svg" />
                </a>
            </div>
        </div>

    </header>
    <section class="about">
        <div class="bgContainerAbout">
        </div>
        <div class="container about">
            <h1>News</h1>
        </div>
    </section>
    <section class="blogSection">
        <div class="container">
            <div class="owl-carousel owl-theme" id="testimonial">
                <div class="item">
                    <div class="slider">
                        <div class="sliderImg">
                            <div class="sliderImgPostion">
                                <img class="img1" src="/assets/images/blog-banner-img-1.png" />
                                <img class="img2" src="/assets/images/blog-banner-img-2.png" />
                            </div>
                        </div>
                        <div class="sliderContent">
                            <h2>Lorem ipsum dolor sit amet consectetur.</h2>
                            <p>Lorem ipsum dolor sit amet consectetur. Tortor faucibus aliquet lacus adipiscing dictumst
                                lectus est. Nisl fermentum est amet pellentesque. Semper velit blandit ac aenean varius
                                neque interdum id. Enim cum tortor maecenas non et non. Leo elit mattis donec in.
                                Rhoncus consectetur rhoncus ut risus tincidunt morbi risus velit urna. Netus ornare
                                pharetra turpis scelerisque dictumst. Platea enim eleifend tellus vitae ornare
                                consectetur placerat nunc. Id scelerisque auctor vitae amet purus libero non
                                mauris.Platea enim eleifend tellus vitae ornare consectetur placerat nunc.</p>
                            <a class="readmore" href="#">Continue Reading <img width="16"
                                    src="/assets/images/material-symbols_arrow-downward-rounded.svg" /></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <h4>Slider 2</h4>
                </div>
                <div class="item">
                    <h4>Slider 3</h4>
                </div>
            </div>
            <!-- </div>
    </div> -->
        </div>
    </section>
    <section>
        <div class="container news">
            <div class="newsContainer">
                <div class="newsContainerImg">
                    <img src="/assets/images/news-1.png">
                </div>
                <h2>Lorem ipsum dolor sit amet </h2>
                <p>Lorem ipsum dolor sit amet consectetur. Tortor faucibus aliquet lacus adipiscing dictumst lectus est.
                    Nisl fermentum est amet pellentesque. Semper velit blandit ac aenean varius neque interdum id. Enim
                    cum tortor maecenas non et non. Leo elit mattis donec in.</p>
                <div class="hrline"></div>
                <a href="#">Read More</a>
            </div>
            <div class="newsContainer">
                <div class="newsContainerImg">
                    <img src="/assets/images/news-2.png">
                </div>
                <h2>Lorem ipsum dolor sit amet </h2>
                <p>Lorem ipsum dolor sit amet consectetur. Tortor faucibus aliquet lacus adipiscing dictumst lectus est.
                    Nisl fermentum est amet pellentesque. Semper velit blandit ac aenean varius neque interdum id. Enim
                    cum tortor maecenas non et non. Leo elit mattis donec in.</p>
                <div class="hrline"></div>
                <a href="#">Read More</a>
            </div>
            <div class="newsContainer">
                <div class="newsContainerImg">
                    <img src="/assets/images/news-3.png">
                </div>
                <h2>Lorem ipsum dolor sit amet </h2>
                <p>Lorem ipsum dolor sit amet consectetur. Tortor faucibus aliquet lacus adipiscing dictumst lectus est.
                    Nisl fermentum est amet pellentesque. Semper velit blandit ac aenean varius neque interdum id. Enim
                    cum tortor maecenas non et non. Leo elit mattis donec in.</p>
                <div class="hrline"></div>
                <a href="#">Read More</a>
            </div>
            <div class="newsContainer">
                <div class="newsContainerImg">
                    <img src="/assets/images/news-4.png">
                </div>
                <h2>Lorem ipsum dolor sit amet </h2>
                <p>Lorem ipsum dolor sit amet consectetur. Tortor faucibus aliquet lacus adipiscing dictumst lectus est.
                    Nisl fermentum est amet pellentesque. Semper velit blandit ac aenean varius neque interdum id. Enim
                    cum tortor maecenas non et non. Leo elit mattis donec in.</p>
                <div class="hrline"></div>
                <a href="#">Read More</a>
            </div>
            <div class="newsContainer">
                <div class="newsContainerImg">
                    <img src="/assets/images/news-5.png">
                </div>
                <h2>Lorem ipsum dolor sit amet </h2>
                <p>Lorem ipsum dolor sit amet consectetur. Tortor faucibus aliquet lacus adipiscing dictumst lectus est.
                    Nisl fermentum est amet pellentesque. Semper velit blandit ac aenean varius neque interdum id. Enim
                    cum tortor maecenas non et non. Leo elit mattis donec in.</p>
                <div class="hrline"></div>
                <a href="#">Read More</a>
            </div>
            <div class="newsContainer">
                <div class="newsContainerImg">
                    <img src="/assets/images/news-6.png">
                </div>
                <h2>Lorem ipsum dolor sit amet </h2>
                <p>Lorem ipsum dolor sit amet consectetur. Tortor faucibus aliquet lacus adipiscing dictumst lectus est.
                    Nisl fermentum est amet pellentesque. Semper velit blandit ac aenean varius neque interdum id. Enim
                    cum tortor maecenas non et non. Leo elit mattis donec in.</p>
                <div class="hrline"></div>
                <a href="#">Read More</a>
            </div>
        </div>
    </section>
    <section class="subscribe">
        <div class="container">
            <div class="subscribeLeft">
                <h2>Get New News Portal</h2>
                <p>Lorem ipsum dolor sit amet consectetur. Lacus purus pellentesque turpis at lacus etiam. Velit sit eu
                    vestibulum mi non ac egestas nunc blandit. Orci leo sed duis egestas vulputate eget ut adipiscing.
                    Interdum viverra purus scelerisque diam.</p>
            </div>
            <div class="subscribeForm">
                <input type="text" placeholder="Enter Your E-mail">
                <button>
                    subscribe <img src="/assets/images/material-symbols_play-arrow-rounded.svg" />
                </button>
            </div>
        </div>
    </section>
    <footer>
        <div class="container footerSection">
            <div class="footerContentOne">
                <div class="qoraLogo">
                    <img src="/assets/images/qora.svg" />
                </div>
                <p>Start Your Business with Zero Investment and Earn over ₹1,00,000 Every Month. Provide financial
                    advice and products to the customers and get a fast payout every month.</p>
                <div class="socialMedia">
                    <a href="#"><img src="/assets/images/fa-brands_facebook-square.svg" /></a>
                    <a href="#"><img src="/assets/images/akar-icons_instagram-fill.svg" /></a>
                    <a href="#"><img src="/assets/images/bi_linkedin.svg" /></a>
                    <a href="#"><img src="/assets/images/jam_twitter-square.svg" /></a>
                </div>


            </div>
            <div class="footerContentTow">
                <h3>Who we are</h3>
                <a href="#">About Us</a>
                <a href="#">Contact Us</a>
                <a href="#">Vision</a>
                <a href="#">Mission</a>
                <a href="#">Careers</a>
            </div>
            <div class="footerContentThree">
                <h3>Imported Links</h3>
                <a href="#">News</a>
                <a href="#">Who can be an Adviser</a>
                <a href="#">Who can be a Vendor</a>
                <a href="#">Blog</a>
                <a href="#">Level</a>
            </div>
            <div class="footerContentFour">
                <h3>Contact Us</h3>
                <div>
                    <a href="#"><img src="/assets/images/material-symbols_phone-in-talk-sharp.svg" /> +91 7412 933
                        XXX</a>
                    <a href="#"><img src="/assets/images/material-symbols_mail.svg" /> support@crezapp.com</a>
                    <a href="#"><img src="/assets/images/ic_baseline-location-on.svg" /> Uttar Pradesh, India</a>
                </div>
                <div class="footerInput">
                    <input type="text" placeholder="Enter Your E-mail">
                    <button>
                        <img width="16" src="/assets/images/wpf_sent.svg" />
                    </button>
                </div>
            </div>
        </div>
        <div class="container footerCopyRight">
            <ul>
                <li>
                    <a href="#">Terms & Condition</a>
                </li>
                <li>
                    <a href="#">Privacy Policy</a>
                </li>
                <li>
                    <a href="#">Refund & Cancellation Policy</a>
                </li>
                <li>
                    <a href="#">Fraud & Violation Policy</a>
                </li>
            </ul>
            <div class="copyRighttext">
                © 2023 CrezApp. All rights reserved
            </div>
        </div>
    </footer>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/myscript.js"></script>
</body>

</html>