<table>
  <caption>
    A summary of the UK's most famous punk bands
  </caption>
  <thead>
    <tr>
      <th colspan="4">99k (feb 2023) hiip production niguri</th>
      <th colspan="16" style="background-color: #bbdae7;
  border: 2px solid #257dbb;">April</th>
    </tr>
    <tr>
      <th colspan="5">Model</th>
      <th colspan="3" style="background-color:yellow">Openning Balance</th>
      <th colspan="3">Prodction</th>
      <th colspan="3">Sales</th>
      <th colspan="3">Closing Balance</th>
      <th colspan="2">Des.Norms (Nov.)</th>
      <th colspan="2">Stocking Days</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td>NAME</td>
      <td>T</td>
      <td>0</td>
      <!--  -->
      <td>C</td>
      <td>DOM</td>
      <td>EXP</td>
      <th>TOTAL</th>
      <td>DOM</td>
      <td>EXP</td>
      <th>TOTAL</th>
      <td>DOM</td>
      <td>EXP</td>
      <th>TOTAL</th>
      <td>DOM</td>
      <td>EXP</td>
      <th>TOTAL</th>
      <td>DOM</td>
      <td>EXP</td>
      <th>TOTAL</th>
      <td>Actual</td>
    </tr>

    <!-- several other great bands -->

    <tr>
      <td rowspan="7">Genset</td>
      <td>1974</td>
      <td>17</td>
      <!--  -->
      <td>17</td>
      <td>No More Heroes</td>
      <td>1974</td>
      <td>17</td>
      <th>1974</th>
      <td>No More Heroes</td>
      <td>17</td>
      <th>17</th>
      <td>1974</td>
      <td>No More Heroes</td>
      <th>17</th>
      <td>1974</td>
      <td>No More Heroes</td>
      <th>17</th>
      <td>1974</td>
      <td>1974</td>
      <th>17</th>
      <td>17</td>

    </tr>
    <tr>
      <td>1974</td>
      <td>17</td>
        <!--  -->
        <td>17</td>
      <td>No More Heroes</td>
      <td>1974</td>
      <td>17</td>
      <th>1974</th>
      <td>No More Heroes</td>
      <td>17</td>
      <th>17</th>
      <td>1974</td>
      <td>No More Heroes</td>
      <th>17</th>
      <td>1974</td>
      <td>No More Heroes</td>
      <th>17</th>
      <td>1974</td>
      <td>1974</td>
      <th>17</th>
      <td>17</td>
    </tr>
    <tr>
      <td>1974</td>
      <td>17</td>
        <!--  -->
        <td>17</td>
      <td>No More Heroes</td>
      <td>1974</td>
      <td>17</td>
      <th>1974</th>
      <td>No More Heroes</td>
      <td>17</td>
      <th>17</th>
      <td>1974</td>
      <td>No More Heroes</td>
      <th>17</th>
      <td>1974</td>
      <td>No More Heroes</td>
      <th>17</th>
      <td>1974</td>
      <td>1974</td>
      <th>17</th>
      <td>17</td>
    </tr>
    <tr>
      <td>1974</td>
      <td>17</td>
        <!--  -->
        <td>17</td>
      <td>No More Heroes</td>
      <td>1974</td>
      <td>17</td>
      <th>1974</th>
      <td>No More Heroes</td>
      <td>17</td>
      <th>17</th>
      <td>1974</td>
      <td>No More Heroes</td>
      <th>17</th>
      <td>1974</td>
      <td>No More Heroes</td>
      <th>17</th>
      <td>1974</td>
      <td>1974</td>
      <th>17</th>
      <td>17</td>
    </tr>
    <tr>
      <td>1974</td>
      <td>17</td>
        <!--  -->
        <td>17</td>
      <td>No More Heroes</td>
      <td>1974</td>
      <td>17</td>
      <th>1974</th>
      <td>No More Heroes</td>
      <td>17</td>
      <th>17</th>
      <td>1974</td>
      <td>No More Heroes</td>
      <th>17</th>
      <td>1974</td>
      <td>No More Heroes</td>
      <th>17</th>
      <td>1974</td>
      <td>1974</td>
      <th>17</th>
      <td>17</td>
    </tr>
    <tr>
      <td>1974</td>
      <td>17</td>
        <!--  -->
        <td>17</td>
      <td>No More Heroes</td>
      <td>1974</td>
      <td>17</td>
      <th>1974</th>
      <td>No More Heroes</td>
      <td>17</td>
      <th>17</th>
      <td>1974</td>
      <td>No More Heroes</td>
      <th>17</th>
      <td>1974</td>
      <td>No More Heroes</td>
      <th>17</th>
      <td>1974</td>
      <td>1974</td>
      <th>17</th>
      <td>17</td>
    </tr>
    <tr>
      <td>1974</td>
      <td>17</td>
        <!--  -->
        <td>17</td>
      <td>No More Heroes</td>
      <td>1974</td>
      <td>17</td>
      <th>1974</th>
      <td>No More Heroes</td>
      <td>17</td>
      <th>17</th>
      <td>1974</td>
      <td>No More Heroes</td>
      <th>17</th>
      <td>1974</td>
      <td>No More Heroes</td>
      <th>17</th>
      <td>1974</td>
      <td>1974</td>
      <th>17</th>
      <td>17</td>
    </tr>
    <tr>
      <td rowspan="5">Engine</td>
      <td>1974</td>
      <td>17</td>
        <!--  -->
        <td>17</td>
      <td>No More Heroes</td>
      <td>1974</td>
      <td>17</td>
      <th>1974</th>
      <td>No More Heroes</td>
      <td>17</td>
      <th>17</th>
      <td>1974</td>
      <td>No More Heroes</td>
      <th>17</th>
      <td>1974</td>
      <td>No More Heroes</td>
      <th>17</th>
      <td>1974</td>
      <td>1974</td>
      <th>17</th>
      <td>17</td>
    </tr>
    <tr>
      <td>1974</td>
      <td>17</td>
        <!--  -->
        <td>17</td>
      <td>No More Heroes</td>
      <td>1974</td>
      <td>17</td>
      <th>1974</th>
      <td>No More Heroes</td>
      <td>17</td>
      <th>17</th>
      <td>1974</td>
      <td>No More Heroes</td>
      <th>17</th>
      <td>1974</td>
      <td>No More Heroes</td>
      <th>17</th>
      <td>1974</td>
      <td>1974</td>
      <th>17</th>
      <td>17</td>
    </tr>
    <tr>
      <td>1974</td>
      <td>17</td>
        <!--  -->
        <td>17</td>
      <td>No More Heroes</td>
      <td>1974</td>
      <td>17</td>
      <th>1974</th>
      <td>No More Heroes</td>
      <td>17</td>
      <th>17</th>
      <td>1974</td>
      <td>No More Heroes</td>
      <th>17</th>
      <td>1974</td>
      <td>No More Heroes</td>
      <th>17</th>
      <td>1974</td>
      <td>1974</td>
      <th>17</th>
      <td>17</td>
    </tr>
    <tr>
      <td>1974</td>
      <td>17</td>
        <!--  -->
        <td>17</td>
      <td>No More Heroes</td>
      <td>1974</td>
      <td>17</td>
      <th>1974</th>
      <td>No More Heroes</td>
      <td>17</td>
      <th>17</th>
      <td>1974</td>
      <td>No More Heroes</td>
      <th>17</th>
      <td>1974</td>
      <td>No More Heroes</td>
      <th>17</th>
      <td>1974</td>
      <td>1974</td>
      <th>17</th>
      <td>17</td>
    </tr>
    <tr>
      <td>1974</td>
      <td>17</td>
        <!--  -->
        <td>17</td>
      <td>No More Heroes</td>
      <td>1974</td>
      <td>17</td>
      <th>1974</th>
      <td>No More Heroes</td>
      <td>17</td>
      <th>17</th>
      <td>1974</td>
      <td>No More Heroes</td>
      <th>17</th>
      <td>1974</td>
      <td>No More Heroes</td>
      <th>17</th>
      <td>1974</td>
      <td>1974</td>
      <th>17</th>
      <td>17</td>
    </tr>
    <tr>

      <td rowspan="2">M-PUMP</td>
      <td>1974</td>
      <td>17</td>
        <!--  -->
        <td>17</td>
      <td>No More Heroes</td>
      <td>1974</td>
      <td>17</td>
      <th>1974</th>
      <td>No More Heroes</td>
      <td>17</td>
      <th>17</th>
      <td>1974</td>
      <td>No More Heroes</td>
      <th>17</th>
      <td>1974</td>
      <td>No More Heroes</td>
      <th>17</th>
      <td>1974</td>
      <td>1974</td>
      <th>17</th>
      <td>17</td>
    </tr>
    <tr>
      <td>1974</td>
      <td>17</td>
        <!--  -->
        <td>17</td>
      <td>No More Heroes</td>
      <td>1974</td>
      <td>17</td>
      <th>1974</th>
      <td>No More Heroes</td>
      <td>17</td>
      <th>17</th>
      <td>1974</td>
      <td>No More Heroes</td>
      <th>17</th>
      <td>1974</td>
      <td>No More Heroes</td>
      <th>17</th>
      <td>1974</td>
      <td>1974</td>
      <th>17</th>
      <td>17</td>
    </tr>
    <tr>
      <td rowspan="4">PUMP</td>
      <td>1974</td>
      <td>17</td>
        <!--  -->
        <td>17</td>
      <td>No More Heroes</td>
      <td>1974</td>
      <td>17</td>
      <th>1974</th>
      <td>No More Heroes</td>
      <td>17</td>
      <th>17</th>
      <td>1974</td>
      <td>No More Heroes</td>
      <th>17</th>
      <td>1974</td>
      <td>No More Heroes</td>
      <th>17</th>
      <td>1974</td>
      <td>1974</td>
      <th>17</th>
      <td>17</td>
    </tr>
    <tr>
      <td>1974</td>
      <td>17</td>
        <!--  -->
        <td>17</td>
      <td>No More Heroes</td>
      <td>1974</td>
      <td>17</td>
      <th>1974</th>
      <td>No More Heroes</td>
      <td>17</td>
      <th>17</th>
      <td>1974</td>
      <td>No More Heroes</td>
      <th>17</th>
      <td>1974</td>
      <td>No More Heroes</td>
      <th>17</th>
      <td>1974</td>
      <td>1974</td>
      <th>17</th>
      <td>17</td>
    </tr>
    <tr>
      <td>1974</td>
      <td>17</td>
        <!--  -->
        <td>17</td>
      <td>No More Heroes</td>
      <td>1974</td>
      <td>17</td>
      <th>1974</th>
      <td>No More Heroes</td>
      <td>17</td>
      <th>17</th>
      <td>1974</td>
      <td>No More Heroes</td>
      <th>17</th>
      <td>1974</td>
      <td>No More Heroes</td>
      <th>17</th>
      <td>1974</td>
      <td>1974</td>
      <th>17</th>
      <td>17</td>
    </tr>
    <tr>

      <td>1974</td>
      <td>17</td>
        <!--  -->
        <td>17</td>
      <td>No More Heroes</td>
      <td>1974</td>
      <td>17</td>
      <th>1974</th>
      <td>No More Heroes</td>
      <td>17</td>
      <th>17</th>
      <td>1974</td>
      <td>No More Heroes</td>
      <th>17</th>
      <td>1974</td>
      <td>No More Heroes</td>
      <th>17</th>
      <td>1974</td>
      <td>1974</td>
      <th>17</th>
      <td>17</td>
    </tr>
    <tr>
      <td rowspan="2">TILLE</td>
      <td>1974</td>
      <td>17</td>
        <!--  -->
        <td>17</td>
      <td>No More Heroes</td>
      <td>1974</td>
      <td>17</td>
      <th>1974</th>
      <td>No More Heroes</td>
      <td>17</td>
      <th>17</th>
      <td>1974</td>
      <td>No More Heroes</td>
      <th>17</th>
      <td>1974</td>
      <td>No More Heroes</td>
      <th>17</th>
      <td>1974</td>
      <td>1974</td>
      <th>17</th>
      <td>17</td>
    </tr>
    <tr>
      <td>1974</td>
      <td>17</td>
        <!--  -->
        <td>17</td>
      <td>No More Heroes</td>
      <td>1974</td>
      <td>17</td>
      <th>1974</th>
      <td>No More Heroes</td>
      <td>17</td>
      <th>17</th>
      <td>1974</td>
      <td>No More Heroes</td>
      <th>17</th>
      <td>1974</td>
      <td>No More Heroes</td>
      <th>17</th>
      <td>1974</td>
      <td>1974</td>
      <th>17</th>
      <td>17</td>
    </tr>
    <tr>
      <td></td>
      <th colspan="2">GENSETS</th>
      <th colspan="1">17
      </th>
      <th colspan="1">17
      </th>
  
    
      <th>No More Heroes</th>
      <th>1974</th>
      <th>17</th>
      <th>1974</th>
      <th>No More Heroes</th>
      <th>17</th>
      <th>17</th>
      <th>1974</th>
      <th>No More Heroes</th>
      <th>17</th>
      <th>1974</th>
      <th>No More Heroes</th>
      <th>17</th>
      <th>1974</th>
      <th>1974</th>
    </tr>
    <tr>
      <td></td>
      <th colspan="2">GENSETS</th>
      <th colspan="2">17</th>
      <th>No More Heroes</th>
      <th>1974</th>
      <th>17</th>
      <th>1974</th>
      <th>No More Heroes</th>
      <th>17</th>
      <th>17</th>
      <th>1974</th>
      <th>No More Heroes</th>
      <th>17</th>
      <th>1974</th>
      <th>No More Heroes</th>
      <th>17</th>
      <th>1974</th>
      <th>1974</th>
    </tr>
    <tr>
      <td></td>
      <th colspan="2">GENSETS</th>
      <th colspan="2">17</th>
      <th>No More Heroes</th>
      <th>1974</th>
      <th>17</th>
      <th>1974</th>
      <th>No More Heroes</th>
      <th>17</th>
      <th>17</th>
      <th>1974</th>
      <th>No More Heroes</th>
      <th>17</th>
      <th>1974</th>
      <th>No More Heroes</th>
      <th>17</th>
      <th>1974</th>
      <th>1974</th>
    </tr>
    <tr>
      <td></td>
      <th colspan="2">GENSETS</th>
      <th colspan="2">17</th>
      <th>No More Heroes</th>
      <th>1974</th>
      <th>17</th>
      <th>1974</th>
      <th>No More Heroes</th>
      <th>17</th>
      <th>17</th>
      <th>1974</th>
      <th>No More Heroes</th>
      <th>17</th>
      <th>1974</th>
      <th>No More Heroes</th>
      <th>17</th>
      <th>1974</th>
      <th>1974</th>
    </tr>
    <tr>
      <td></td>
      <th colspan="2">GENSETS</th>
      <th colspan="2">17</th>
      <th>No More Heroes</th>
      <th>1974</th>
      <th>17</th>
      <th>1974</th>
      <th>No More Heroes</th>
      <th>17</th>
      <th>17</th>
      <th>1974</th>
      <th>No More Heroes</th>
      <th>17</th>
      <th>1974</th>
      <th>No More Heroes</th>
      <th>17</th>
      <th>1974</th>
      <th>1974</th>
    </tr>
    <tr>
      <td></td>
      <th colspan="2">GENSETS</th>
      <th colspan="2">17</th>
      <th>No More Heroes</th>
      <th>1974</th>
      <th>17</th>
      <th>1974</th>
      <th>No More Heroes</th>
      <th>17</th>
      <th>17</th>
      <th>1974</th>
      <th>No More Heroes</th>
      <th>17</th>
      <th>1974</th>
      <th>No More Heroes</th>
      <th>17</th>
      <th>1974</th>
      <th>1974</th>
    </tr>
    <tr>
      <td></td>
      <th colspan="2">Grand Total</th>
      <th colspan="2">17</th>
      <th>No More Heroes</th>
      <th>1974</th>
      <th>17</th>
      <th>1974</th>
      <th>No More Heroes</th>
      <th>17</th>
      <th>17</th>
      <th>1974</th>
      <th>No More Heroes</th>
      <th>17</th>
      <th>1974</th>
      <th>No More Heroes</th>
      <th>17</th>
      <th>1974</th>
      <th>1974</th>
    </tr>

  </tbody>
  <!-- <tfoot>
  <tr>
    <th scope="row" colspan="2"><title>TILLER GRAND TOTAL</title></th>
    <td colspan="2">77</td>
  </tr>
</tfoot> -->
</table>