<div class="dashBoard">
    <div class="titleHeader">
        <div class="title">User Role</div>
    </div>
    <!-- <div class="mainformSection">
        <h2 class="mainformSectionTitle">Basic Info</h2>
        <div  *ngIf="loaderService.isLoading | async">
            <div class="load-container">
                <div class="linespinner"></div>
            </div>
        </div>
    
        <p-toast></p-toast>
        <form class="form" [formGroup]="form" (ngSubmit)="submitForm()">
            <div class="fieldContainer">


                <div class="fieldGroup">
                    <label>Business Name</label>
                    <input type="text" formControlName="bussinessName">
                    <div *ngIf="submitted && form.get('bussinessName')?.hasError('required')">
                        <div class="errormessage">
                            Business Name is required
                        </div>
                    </div>
                </div>
                <div class="fieldGroup">
                    <label>GST Number</label>
                    <input type="text" formControlName="gstNumber">
                </div>
                <div class="fieldGroup">
                    <label>Address</label>
                    <input type="text" formControlName="address1">
                    <div *ngIf="submitted && form.get('address1')?.hasError('required')">
                        <div class="errormessage">
                            Address is required
                        </div>
                    </div>

                </div>
                <div class="fieldGroup">
                    <label>Zip Code</label>
                    <input type="text" formControlName="pinCode">
                    <div *ngIf="submitted && form.get('pinCode')?.hasError('required')">
                        <div class="errormessage">
                            Zip Code is required
                        </div>
                    </div>
                    <div *ngIf="submitted && form.get('pinCode')?.hasError('invalidZipCode')">
                        <div class="errormessage">
                            Enter Valid Zip Code
                        </div>
                    </div>
                </div>

                <div class="fieldGroup">
                    <label>Choose State</label>
                    <select formControlName="state" (change)="getCity($event)">
                        <option value="" selected disabled>Select State</option>
                        <option *ngFor="let state of stateData" [value]="state.groupCode">
                            {{ state.groupDescription }}
                        </option>
                    </select>
                    <div *ngIf="submitted && form.get('state')?.hasError('required')">
                        <div class="errormessage">
                            Please Select State
                        </div>
                    </div>
                </div>
                <div class="fieldGroup">
                    <label>Choose City</label>
                    <select formControlName="city">
                        <option value="" selected disabled>Select City</option>
                        <option *ngFor="let city of cityData" [value]="city.groupCode">
                            {{ city.groupDescription }}
                        </option>
                    </select>
                    <div *ngIf="submitted && form.get('city')?.hasError('required')">
                        <div class="errormessage">
                            Please Select City
                        </div>
                    </div>
                </div>

                <div class="fieldGroup">
                    <label>PanCard</label>
                    <input type="text" formControlName="panCardNumber" placeholder="Enter Pancard Number Here">
                    <div *ngIf="submitted && form.get('panCardNumber')?.hasError('panCard')">
                        <div class="errormessage">
                            Invalid Pan Card Number
                        </div>
                    </div>
                    <input #pancarddocs type="file" formControlName="pancarddocs" (change)="setFile('pancard', $event)"
                        placeholder="Select File">
                   
                    <div class="preview-container">
                        <img [src]="panImages" alt="Preview" style="max-width: 150px; max-height: 150px;"
                            *ngIf="panImages">
                        <div class="remove-icon" *ngIf="panImages">
                            <p-button icon="pi pi-times-circle"
                                styleClass="p-button-rounded  p-button-danger p-button-outlined"
                                (click)="removeImage(pancarddocs,'panImages')"></p-button>
                        </div>
                    </div>
                </div>
                <div class="fieldGroup">
                    <label>Aadhaar</label>
                    <input type="text" formControlName="aadhaarCardNumber" placeholder="Enter Aadhaar Number Here">
                    <div *ngIf="submitted && form.get('aadhaarCardNumber')?.hasError('required')">
                        <div class="errormessage">
                            Aadhaar Card is Required
                        </div>
                    </div>
                    <div *ngIf="submitted && form.get('aadhaarCardNumber')?.hasError('aadhaarCard')">
                        <div class="errormessage">
                            Invalid Aadhaar Card Number
                        </div>
                    </div>
                    <input #aadhaarCarddocs type="file" formControlName="aadhaarCarddocs"
                        (change)="setFile('aadhaar', $event)">
                    <div *ngIf="submitted && form.get('aadhaarCarddocs')?.hasError('required')">
                        <div class="errormessage">
                            Please Select Aadhaar
                        </div>
                    </div>

                    <div *ngIf="submitted && form.get('aadhaarCarddocs')?.hasError('invalidFileType')">
                        <div class="errormessage">
                            Invalid file type. Only PNG, JPG, Docs and PDF files are allowed.
                        </div>
                    </div>
                    <div class="preview-container">
                        <img [src]="aadhaarCardImages" alt="Preview" style="max-width: 150px; max-height: 150px;"
                            *ngIf="aadhaarCardImages">
                        <div class="remove-icon" *ngIf="aadhaarCardImages">
                            <p-button icon="pi pi-times-circle"
                                styleClass="p-button-rounded  p-button-danger p-button-outlined"
                                (click)="removeImage(aadhaarCarddocs,'aadhaarCardImages')"></p-button>
                        </div>
                    </div>
                </div>
                <div class="fieldGroup">
                    <label>Upload Other Document</label>
                    <input #otherDocument type="file" formControlName="otherDocument"
                        (change)="setFile('otherdoc', $event)">
                
                    <div class="preview-container">
                        <img [src]="otherDocumentImages" alt="Preview" style="max-width: 150px; max-height: 150px;"
                            *ngIf="otherDocumentImages">
                        <div class="remove-icon" *ngIf="otherDocumentImages">
                            <p-button icon="pi pi-times-circle"
                                styleClass="p-button-rounded  p-button-danger p-button-outlined"
                                (click)="removeImage(otherDocument,'otherDocumentImages')"></p-button>
                        </div>
                    </div>
                </div>

            </div>


            <div class="buttonSection">
                <p-button type="submit" class="button buttonPrimary">
                    Submit
                </p-button>
            </div>

        </form>
    </div> -->
</div>